* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #36393f;

}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

header .top_nav {
    justify-content: space-between;
    background-color: #171718;
}

header .top_nav a {
    color: #6d6c74;
    font-weight: bolder;
}

header .top_nav button {
    color: #6d6c74;
    background: none;
    border: none;
    font-size: 15px;
}

main {
    color: #6d6c74;
}

main .icon_nav {
    height: 100vh;
    width: 20%;
    background-color: #171718;
}

main .icon_nav ul {
    flex-direction: column;
    align-items: center;
}

main .icon_nav button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

#logo_direct_message {
    object-fit: contain;
    height: 50px;
    border-radius: 10px;
}

.direct_message button {
    background: none;
    border: none;
}

.icon_nav hr {
    color: #2d2d2f;
    width: 40px; 
}

main .top_nav {
    height: 50px;
    display: block;
}

main .top_nav .friends {
    border-right: 1px solid #2d2d2f;
}

main .top_nav ul {
    align-items: center;
}

/* main .left_nav input {
    background-color: #1a1a1b;
    border: none;
    border-radius: 5px;
}

main .left_nav input::placeholder {
    color: #aaa9b2;
} */

main .container {
    display: block;
}

main .img_background img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

main .no_game {
    text-align: center;
}